<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome - CardDB</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>

  <nav class="simple-navbar">
    <div class="nav-container">
      <div class="nav-logo"><a href="/">CardDB</a></div>
      <ul class="nav-links">
        <li><a href="/help">Help</a></li>
      </ul>
    </div>
  </nav>

  <h1>Welcome to CardDB</h1>
  
  <div class="home-card-container">
    <a href="/pkmnSearch" class="home-card">
      <img src="/images/pkmnLogo.png" alt="Search Pokémon Cards">
      <h2>Search Pokémon Cards</h2>
    </a>

    <a href="/ygoSearch" class="home-card">
      <img src="/images/ygoLogo.png" alt="Search Yu-Gi-Oh! Cards">
      <h2>Search Yu-Gi-Oh! Cards</h2>
    </a>
    

    <a href="/magicSearch" class="home-card">
      <img src="/images/magic.png" alt="Search Magic: The Gathering Cards">
      <h2>Search Magic: The Gathering Cards</h2>
    </a>
    
  </div>

</body>
</html>
